#tree-graph {
    height: 35%;
    width: 20%;
    /* float: left; */
    padding: 10px;
    position: absolute;
    z-index: 99999;
    /* border: sienna; */
    left: 900px;
    top: 280px;
    /* overflow:hidden; */
}