#sub-view {
    /* border: brown solid; */
    height: 45%;
    width: 85%;
    float: left;
    border-top:dashed 2px #333;
    border-bottom:dashed 2px #333;
    /* border: black; */
}

#first-view{
    border-right:dashed 2px #333;
}

.xxx {
    height: 100%;
    width: 50%;
    float: left;
}




#id-list-group-item-active{
    background-image:linear-gradient(to bottom, #2a2a2a 0%, #2a2a2a 100%) !important;
    border-color: #2a2a2a;
}