#mainGraph {
    height: 100%;
    width: 35%;
    float: left;
}
.node circle {
    stroke: white;
    stroke-width: 1.5px;
    opacity: 1;
}

line {
    stroke: #7489b1bb;
    stroke-width: 1.5px;
    stroke-opacity: 1;
}
