html,
body,
#main {
    height: 100%;
}

#content {
    height: 95%;
}

#left-group {
    width: 50%;
    height: 50%;
    white-space: nowrap;
    padding: 10px;
    float: left;
    overflow: hidden;
    border: aquamarine;
    padding: 0px;
    border-left:dashed 2px #000;
}

line {
    stroke-width: 2px;
}

#bigsidebar {
    /* border: brown solid; */
    height: 100%;
    width: 15%;
    float: left;
    background:#343434;
    /* border: black; */
}

.h4style{
    z-index:999;
    position: absolute;
    color: #999;
    transform: translate(10px,0px) ;
}