<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="lib/echarts.min.js"></script>
    <script src="lib/theme.echart.js"></script>
    <script src="lib/d3.min.js"></script>

    <style>
        html,
        body {
            width: 100%;
            height: 100%;
        }
    </style>
</head>

<body>
    <div id="scatter" style="width: 70%;height: 70%;"></div>
</body>
<script src="js/index.js"></script>

</html>