.container {
    padding-left: 2%;
    padding-right: 2%;
    width: 100%;
}

.node circle {
    stroke: white;
    stroke-width: 1.5px;
    opacity: 1.0;
}

line {
    stroke: black;
    stroke-width: 1.5px;
    stroke-opacity: 1.0;
}